<div class="gold-box">
	<p>Your Gold:</p><p style="color:red"><%= session[:gold] %></p>
</div>
<a href="/"><button class="gold-button" style="float:right">New Game</button></a>
</div>
<div id="wrapper"> 
	<div class="serviceBox1">
		<form action="/farm">
	        <div class="box">
	        	<h2>Farm</h2>
	        	<p>(earns 10-20 gold)</p>
	        	<input type="submit" value="Find Gold!" class="gold-button"></input>  
	        </div>
		</form>
	</div>
	<div class="serviceBox2">
		<form action="/cave">
	        <div class="box">
	        	<h2>Cave</h2>
	        	<p>(earns 5-10 gold)</p>
	        	<input type="submit" value="Find Gold!" class="gold-button"></input>  
	        </div>
		</form>
	</div>
	<div class="serviceBox3">
		<form action="/house">
	        <div class="box">
	        	<h2>House</h2>
	        	<p>(earns 2-5 gold)</p>
	        	<input type="submit" value="Find Gold!" class="gold-button"></input> 
	        </div>
		</form>
	</div>
	<div class="serviceBox4">
		<form action="/casino">
	        <div class="box">
	        	<h2>Casino</h2>
	        	<p>(earns/takes 0-50)</p>
	        	<input type="submit" value="Find Gold!" class="gold-button"></input> 
	        </div>
		</form>
	</div>
	<div>
		<h5>Activities:</h5>
		<div class="activities">
		<% if session[:message] %> 
			<% session[:message].each do | msg |%>
				<p><%= msg %></p>
			<% end %>
		<% end %>
		</div>
	</div>
</div>