#wrapper {
    width:100%;
    margin: 0 auto;
    margin-top:75px;
    height:250px;
}

p {
    margin: 0;
    border: 0;
    padding: 0;
}
.serviceBox1, .serviceBox2, .serviceBox3, .serviceBox4 {
    float:left;
    width:25%;
    text-align: center;
}

.box{
    height: 200px;
    background-color: #fff7c9;
    border:1px solid #bdbdbd;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 10px #bdbdbd;
    -webkit-box-shadow: 0 0 10px #bdbdbd;
    box-shadow: 0 0 10px #bdbdbd;
}

.gold-box {
    display: inline-block;
    width: 100px;
    background-color: #fff7c9;
    border:1px solid #bdbdbd;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 10px #bdbdbd;
    -webkit-box-shadow: 0 0 10px #bdbdbd;
    box-shadow: 0 0 10px #bdbdbd;
    text-align: left;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

.gold-button {
    width: 100px;
    height: 30px;
    background-color: black;
    color: gold;
    font-weight: bold;
    margin-top: 30px;
}

.activities {
    overflow: scroll;
}